* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 2rem 4rem;
}
.container h2 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 800;
}

.formCard {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.formCard input {
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  padding: 12px;
  margin:  13px 0;
  font-size: 17px;
  color: black;
}
.formCard button {
  width: 200px;
  color: white;
  background-color: black;
  outline: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
}
.error-message{
margin-top: 10px;
}

.box-data-con {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.box-detail{
  margin-bottom: 28px;
}
.box-detail h2{
  font-size: 22px;
  margin-bottom: 12px;
}
.msg {
  font-weight: 300;
  font-size: 20px;
}
.box-data input {
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  padding: 12px;
  margin: 0 7px;
  font-size: 17px;
  color: black;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.userDetailCard {
  margin-top: 40px;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid black;
  width: 45%;
}
.userDetailCard p {
  padding: 10px;
  font-size: 21px;
}
